<!--<div class="modal fade" id="confirmPassword" role="dialog" style="z-index: 1000000;">
    <div class="modal-dialog">
        <div class="row marginModalTopOwl"><img class="img-owl pull-right" src={{img.lowSorpresaFlecha}}/></div>
        <div class="row" id="boxUserConfig" style="background-image: url({{img.Patterns1_08}})">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle-confirms">{{content.nwboardtitle}}</div>
            </div>
            <div class="row backgroundUserConfigBox">
                <div class="row fonsAlert-confirms">

                  <div class="row">
                    <span class="col-xs-8 col-xs-offset-2">
                        Introduce el usuario y la contraseña para acceder al menu.
                    </span>
                  </div>

                  <div class="col-xs-8 col-xs-offset-2">
                    <div class="row margeSuperiorUser">
                        <div class="form-group {{state}} has-feedback">
                            <div class="input-group input-group-auto">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input class="form-control" type="text" name="user" placeholder="{{content.copyUserPlaceholder}}" ng-change="changeFormState()" ng-model="$parent.usernameCopyPanel" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group {{state2}} has-feedback">
                            <div class="input-group input-group-auto">
                                <span class="input-group-addon"><i class="icon-unlock-alt"></i></span>
                                <input class="form-control" type="password" name="pass" placeholder="{{content.copyPassPlaceholder}}" ng-model="$parent.passwordCopyPanel" required/>
                            </div>
                        </div>
                    </div>
                  </div>

                <div class="row dadesUsuariCentre">
                    <div class="col-xs-6">
                      <button type="reset" class="btn-gray center-block" ng-click="">Aceptar</button>
                    </div>

                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray center-block" data-dismiss="modal" ng-click="closeThisDialog();">{{logoutContent.cancel}}</button>
                    </div>
                </div>
            </div>
        <div class="row verticalMarginTop"></div>
        </div>
    </div>
</div>-->
