<div class="modal fade" id="confirmPassword" role="dialog" style="z-index: 1000000;" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="row marginModalTopOwl"><img class="img-owl pull-right" src={{img.lowSorpresaFlecha}}/></div>
        <div class="row" id="boxUserConfig" style="background-image: url('/img/srcWeb/patterns/pattern2.png')">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle-confirms">{{content.accesoMenu}}</div>
            </div>
            <div class="row backgroundUserConfigBox">
                <div class="row fonsAlert-info">
                  <div class="row" ng-show="isLoged === ''">
                    <div class="row" style="margin-bottom:10px;">
                      <span class="col-xs-10 col-xs-offset-1">
                          {{content.txtAccesoMenu}}
                      </span>
                    </div>
                    <div class="col-xs-9 col-xs-offset-1">
                      <div class="row">
                          <div class="form-group {{state2}} has-feedback">
                              <div class="input-group input-group-auto">
                                  <span class="input-group-addon"><i class="icon-unlock-alt"></i></span>
                                  <input id="input_id" class="form-control" type="password" name="pass" placeholder="{{content.copyPassPlaceholder}}" ng-change="changeFormState()" ng-model="$parent.passwordCopyPanel" ng-keyup="$event.keyCode == 13 && confirmPassword() && !$parent.passwordCopyPanel === null" required/>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-xs-10">
                          <div class="col-xs-2 col-xs-offset-1">
                            <button id="btnAccept" ng-disabled="!$parent.passwordCopyPanel.length" type="button" class="btn-gray center-block" ng-click="confirmPassword();">{{logoutContent.confirm}}</button>
                          </div>

                          <div class="col-xs-4 col-xs-offset-2">
                            <button id="btnSalir" type="button" class="btn-gray" ng-click="logout(); cancelForm();">
                              <div class="col-xs-2"><img style="display:block; margin-left: auto; margin-right: auto; width: 100%; object-fit: contain" src="/img/srcWeb/DropdownMenuBar/clauIconSelected.png"/></div>
                              <div class="col-xs-8 col-xs-offset-1">{{content.txtSalirAplicacion}}</div>
                            </button>
                          </div>

                          <div class="col-xs-2 col-xs-offset-1">
                              <button id="btnCancel" type="button" class="btn-gray center-block" ng-click="cancelForm();">{{logoutContent.cancel}}</button>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
