<!--Logout Modal-->
<link rel="stylesheet" type="text/css" href="css/responsiveForm.css">
<div class="modal fade" id="recmbackup" role="dialog">
    <div class="modal-dialog">
        <div class="row marginModalTopOwl"><img class="img-owl pull-right" src={{img.lowSorpresaFlecha}}/></div>
        <div class="row" id="boxUserConfig" style="background-image: url(img/srcWeb/patterns/pattern6.png)">
            <div id="header" class="row">
                <div class="col-xs-10 headerTitle">{{content.recbtitle}}</div>
            </div>
            <div class="row backgroundUserConfigBox">
                <div ng-init="searchAddWord('', 'Tots')" class="fonsAlert row">
                  {{content.all}}
                </div>
                <div class="row dadesUsuariCentre">
                  <div class="col-xs-6">
                      <button type="reset" class="btn-gray" data-dismiss="modal"
                      ng-click="recparcialBackup_NOW(imagesr,voc,folder,cfg,panelb)">{{content.write}}</button>
                  </div>
                    <div class="col-xs-6">
                        <button type="reset" class="btn-gray" data-dismiss="modal" ng-click="recparcialBackup_OW(imagesr,voc,folder,cfg,panelb)">{{content.overwrite}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row verticalMarginTop"></div>
    </div>
</div>
